# ASSIGNMENT - 2

### Que.1 WAP TO ACCEPT PERCENTAGE FROM THE USER AND DISPLAY THE GRADE ACCORDING TO THE FOLLOWING CRITERIA:
### maRKS >90 GRADA-A, MARKS >80 AND <=90 GRADE - B, MARKS >=60 AND <=80 GRADE C

In [6]:
percentage = int(input("Enter percentage: "))

if percentage > 90:
    grade = 'A'
elif percentage > 80 and percentage <= 90:
    grade = 'B'
elif percentage >= 60 and percentage <= 80:
    grade = 'C'
else: 
    grade = 'D'
    
print("Grade:",grade)

Enter percentage: 69
Grade: C

### Que.2 WAP to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
### Tax -15% oN cost price(in Rs) >100000 , tax-10% ON cost PRice (in Rs) >50000 and <=100000, if cost <=50000 thdn tax will b 5%

cost_price = float(input("Enter the cost price of the bike: "))
if cost_price > 100000:
    road_tax = cost_price * 0.15
elif cost_price > 50000:
    road_tax = cost_price * 0.10
else:
    road_tax = cost_price * 0.05

print("The road tax to be paid is Rs. ", road_tax)

### Que.3 Accept any city from the user and display monuments of that city 
### City Delhi: monument, Red fort; city: Agra, monument: taj mahal; City Jaipur, monument: Jal Mahal

In [19]:
city = input("Enter a city name: ")

if city.lower() == "delhi":
    monument = "Red Fort"
elif city.lower() == "agra":
    monument = "Taj Mahal"
elif city.lower() == "jaipur":
    monument = "Jal Mahal"
else:
    monument = "Monument not found for this city"

print(f"The monument of {city} is {monument}")

Enter a city name: DelHI
The monument of DelHI is Red Fort

### Que.4 Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [7]:
num = int(input("Enter a number: "))
count = 0

# while num>=10:
#     num = num / 3
#     count += 1
    
    

while num!=0:
    if(num <= 10):
        break
    else:
        num = num/3
        count+=1
print(f"the number can be divided by {count} times before it is less than or equal to 10.")

Enter a number: 333
the number can be divided by 4 times before it is less than or equal to 10.

### Que.5 Why and When to Use while Loop in Python give a detailed description with example

#### Ans: Python While Loop is used to execute a block of statements repeatedly until a given condition is satisfied. And when the condition becomes false, the line immediately after the loop in the program is executed.
#### Syntax:
#### While expression
####       statement(s)

#### While loop falls under the category of indefinite iteration. Indefinite iteration means that the number of times the loop is executed isnâ€™t specified explicitly in advance. 
#### Statements represent all the statements indented by the same number of character spaces after a programming construct are considered to be part of a single block of code. Python uses indentation as its method of grouping statements. When a while loop is executed, expr is first evaluated in a Boolean context and if it is true, the loop body is executed. Then the expr is checked again, if it is still true then the body is executed again and this continues until the expression becomes false.

In [8]:
### Example
# Python program to illustrate
# while loop
count = 0
while (count < 3):
	count = count + 1
	print("Krishna")

Krishna
Krishna
Krishna

#### In the above example, the condition for while will be True as long as the counter variable (count) is less than 3.

### Que.6 Use nested while loop to print 3 different pattern.

In [9]:
# PATTERN - 1 
num_rows = 5
row = 1

while row <= num_rows:
    col = 1
    while col <= row:
        print(row, end="")
        col += 1
    print()
    row += 1

1
22
333
4444
55555

In [10]:
# PATTERN - 2
num_rows = 5
row = 1

while row <= num_rows:
    col = 1
    while col <= row:
        print(col, end="")
        col += 1
    print()
    row += 1

1
12
123
1234
12345

In [12]:
# PATERN - 3
num_rows = 5
row = 1

while row <= num_rows:
    col = num_rows
    while col >= row:
        print(col, end=" ")
        col -= 1
    print()
    row += 1

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

### Que.7 Reverse a while loop to display numbers from 10 to 1

In [13]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

### Que.8 Reverse a while loop to displa numbers from 10 to 1

In [14]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

### -----------------------------------------------------x------------------------------------------